@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');




body {
    overflow-x: hidden;
}

.furniture-picker__trashcan {
    display: flex;
    background: #7f00c9;
    padding: 15px 0;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.furniture-loader--icon {
    width: 150px;
    height: auto;
}
.furniture-picker__img {
    display: block;
    z-index: 1;
}

.main {
    display: inline-block;
    position: relative;
}
.main-body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
}
.main__room {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    top: 0;
    position: absolute;
}
.main__room {
    box-shadow: inset 0 0 100px -40px #000;
}

.main__img {
    width: 100%;
    display: block;
}

ul, li, body, img {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}

.furniture-picker {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 22vw;
    border-radius: 15px;
    display: inline-flex;
    flex-direction: column;
    transition: backgroundColor 0.5s;
}
.furniture-picker--open {
    box-shadow: 0 0 20px -15px #000;
    z-index: 2;
}

.furniture-loader {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 45px;
    display: inline-flex;
    flex-direction: column;
    z-index: 1;
}
.furniture-quote {
    position: fixed;
    top: 10px;
    left: 200px;
    height: 45px;
    display: inline-flex;
    flex-direction: column;
    z-index: 1;
}
.furniture-delete {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    z-index: 1;
}
.furniture-picker__list::-webkit-scrollbar {
  width: 10px;
}
.furniture-picker__list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.furniture-picker__list {
    overflow-x: scroll;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.furniture-picker__list-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.664);
    padding: 5px;
    border-radius: 10px;
    margin: 3px 5px 5px 5px;
    margin-top: 3px;

}
.furniture-picker__rotate-img {
    width: 100px;
    height: auto;
    opacity: 0;
    transition: .35s;
}
.furniture-picker__container {   
    transform: translateX(200%);
    transition: transform 0.5s;
}
.furniture-picker__list-container:hover 
.furniture-picker__rotate-img {
    opacity: 1;
}

/* Handle */
.furniture-picker__list::-webkit-scrollbar-thumb {
  background: #f8b133; 
  border-radius: 10px;
}

/* Handle on hover */
.furniture-picker__list::-webkit-scrollbar-thumb:hover {
  background: #f8aa22; 
}
.furniture-picker__trashcan {
    width: clamp(90px, 15vw, 165px);
    align-self: center;
}
.furniture-picker__title {
    align-self: center;
    display: inline-block;
}
.furniture-picker__menu--icon {
    width: 50px;
    height: auto;
    margin-left: 10px;
}
.furniture-picker__menu--button {
    width: 100px;
    height: auto;
}

#fileTag {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.furniture-picker__menu {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.closeIcon,
.closeButton {
    display: none;
}

/*.showMenu {
    transform: translateX(0);
}*/
.furniture-picker__select {
    background-color:#fcc66ac0;
    border: solid 1px #fcb53c;
    color:#000000;
    padding: 0.25em 1em 0.25em 0.25em;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
.furniture-picker__select:hover,
.furniture-picker__select:focus {
    color: #000000;
    background: #fcb63dcc; /*fab131*/
}
@media only screen and (max-width: 900px) {
    .furniture-picker {
        width: 45vw;
    }
    .furniture-picker__list {
        align-self: flex-end;
    }
}
@media only screen and (max-width: 690px) {
    .furniture-picker__menu--text {
        font-size: 14px;
    }
    .furniture-picker__menu--icon {
        width: 35px;
    }
    .furniture-loader--icon {
        width: 100px;
        height: auto;
    }
    .furniture-picker__rotate-img {
        width: 80px;
    }
}
@media only screen and (max-width: 600px) {
    .furniture-picker__menu {
        display: none;
    }
    .furniture-picker {
        width: 100%;
        position: relative;
    }
    .furniture-picker__list {   
        transform: translateX(0%);
        display: inline-flex;
        flex-wrap: wrap;
        height: calc(63vh - 180px);
    }
    .furniture-picker__container {
        transform: translateX(0%);
    }
    .furniture-picker__img {
        width: 24vw;
    }
    .furniture-picker__rotate-img {
        width: 60px;
    }
}

ul img {
    max-width: 100px;
}

